<!DOCTYPE html>
{% load static %}
<html>
<head>

  <title> COVID19-Probability</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'img/icon.png' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styles/materialize.min.css' %}">
</head>
<header>
		 <nav style="background-color:#7b4fc9;">
    <div class="nav-wrapper">
      <a class="brand-logo center"
      href="{% url 'index' %}"
      style="font-size:24px;font-weight: 599;">COVID19-Probability Estimator</a>
      
    </div>
  </nav>
</header>
<style>
  label{
    font-size: 15px;
  }
</style>
<body>

	{% block content %}
  
  {% endblock %}

</body>
</html>